.car-models-section {
  margin-bottom: 5rem;
}

.pick-car-box-text {
  text-align: center;
  margin-bottom: 6rem;
  max-width: 500px;
  margin: 0 auto;
}

.pick-car-box-text h3 {
  font-family: Rubik,sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

.pick-car-box-text h2 {
  font-family: Poppins,sans-serif;
  font-size: 2.7rem;
  margin: 0.5rem 0 1rem;
}

.pick-car-box-text p {
  color: grey;
  font-family: Rubik, sans-serif;
  line-height: 22px;
  
}

  .pick-car-elements-container {
  display: flex;
  justify-content: center;
  column-gap: 140px;
  margin-top: 3rem;
  padding: 0 2rem;
}

.pick-btns-container {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.selected-btn, .unselected-btn {
  border: none;
  cursor: pointer;
  font-family: 'Poppins',sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 15px 24px;
  text-align: left;
  transition: all .2s;
}

.car-img {
  width: 500px;
  height: 327px;
  margin-top: 3rem;
}

.car-img-information-container {
  display: flex;
  column-gap: 140px;
}

.selected-btn {
  background-color: #ff4d30;
  color: white;
}

.unselected-btn {
  background-color: rgb(218, 218, 218);
}

.unselected-btn:hover {
  background-color: #ff4d30;
  color: white;
}

.car-price-container {
  align-items: center;
  background-color: #ff4d30;
  color: #fff;
  display: flex;
  gap: 10px;
  padding: 0.4rem 1.9rem;
  white-space: nowrap;
  font-size: 20px;
}

.car-price {
  font-size: 28px;
  font-weight: 700;
}

.car-information-table {
  max-width: 252px;
}

.car-information-row {
  border-bottom: 2px solid #706f7b;
  border-left: 2px solid #706f7b;
  border-right: 2px solid #706f7b;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  padding: 0.7rem 0.5rem;
  text-align: center;
}

.car-information-row span {
  font-size: 14px;
}

.left-span-row {
  border-right: 2px solid #706f7b;
}

.reserve-btn {
  background-color: #ff4d30;
  box-shadow: 6px 6px 0 #efe9e9;
  color: #fff;
  display: flex;
  font-family: Poppins,sans-serif;
  font-size: 20px;
  font-weight: 600;
  justify-content: center;
  margin-top: 1.4rem;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .3s;
  width: 100%;
  border: none;
  cursor: pointer;
}

.reserve-btn:hover {
  background-color: #df3c23;
}

/* MOBILE */

@media screen and (max-width: 1350px) {
  .pick-car-elements-container {
    column-gap: 3rem;
  }

  .car-img-information-container {
    column-gap: 40px;
    align-items: center;
  }
}

@media screen and (max-width: 1134px) {
  .pick-car-elements-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 4rem;
  }

  .pick-btns-container button{
    max-width: 100%;
  }

  .pick-car-elements-container img {
    margin: 0 auto;    
    max-width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 865px) {
  .car-img-information-container {
    flex-direction: column;
  }
}