@media screen and (max-width:1000px) {
  .nav-bar-links {
    display: none;
  }
  
  .sing-in-register-container {
    display: none;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .menu-icon:hover {
    color: #ff4d30;
    transition: .3s ease;
  }
}

